body{
    background-color: #fff5d7
}
#main {
    /* box-shadow: 2px 2px #ffaaab; */
    color: #EAC67A;
    margin: auto;
    width: 60%;
    height: 80%;
    /* border: 3px solid #ffaaab; */
    background-color: #2d271d;
    padding: 10px;
  }

  h1{
    color: #d8ab4e;
    text-align: center;
    font: size 2vw;
  }
  p{
    text-align: center;
    font: size 2vw;
  }


  #ul{
    
    font: size 2vw;
    list-style-type: none;
    align-items: left;
      
  }
a{
    color:#EAC67A;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #main{
        padding: 0px;
        width:100%;
        
    }
    body{
        background-color: #2d271d;
    }
  }