body{
    background-color: #fff5d7;

}
#main {
    /* box-shadow: 2px 2px #ffaaab; */
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    color: #EAC67A;
    margin: auto;
    
    height: 20vw;
    width: 50vw;
    /* border: 3px solid #ffaaab; */
    background-color: #2d271d;
    padding: 10px;
  }

  h1{
    font-size: 3vw;
    color: #d8ab4e;
    text-align: center;
    f
  }
  p{
    text-align: center;
    font-size: 1.5vw;
  }

#ul{
    width: 30vw; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
  ul{
    
    font-size: 1.5vw;
    /* list-style-type: none;  */
    text-align: left;
      
  }
a{
    color:#EAC67A;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #main{
        padding: 0px;
        width:100%;
        
    }
    body{
        background-color: #2d271d;
    }
  }